{
	presets: [
		["@babel/preset-env", {
			"targets": {
				"node": "current",
				"browsers": "last 2 versions"
			}
		}],
		"babel-preset-minify"
	],
	plugins: [
		["@babel/plugin-proposal-unicode-property-regex", {
			useUnicodeFlag: true
		}]
	]
}
